[asterisk-connector]
Description           = MySQL connection to 'asterisk' database
Driver                = MySQL
Database              = {{asterisk_db_name}}
UserName              = {{asterisk_db_user}}
Password              = {{asterisk_db_pass}}

Port                  = {{asterisk_db_port}}
Server                = {{asterisk_db_host}}

#Socket                = /var/lib/mysql/mysql.sock
